.ajam-overlay-container

  width: 300px
  height: 600px
  margin: 0 auto

  &.enabled
    overflow: visible
    position: relative

    .ajam-overlay-hp, .ajam-overlay-overlay
      position: absolute
      top: 0
      right: 0
      z-index: 999999

    &.collapsed

      overflow: hidden

      .ajam-overlay-hp
        display: block
      .ajam-overlay-overlay
        display: none

    &.expanded
      .ajam-overlay-hp
        display: none
      .ajam-overlay-overlay
        display: block

  img, object
    border: 0
    outline: 0